{#
/**
 * @file
 * Default theme implementation to display user links.
 *
 * Available variables:
 * Links
 *  Link:
 *  - classes
 *  - title
 *  - url
 * @ingroup templates
 */
#}

<ul class="user-links">
{% for item in links %}
    <li class="{{ item.classes }}">
        <a href="{{ item.url }}" class="{{ item.link_classes }}" {{ item.link_attributes }} >
          <span class="{{item.title_classes}}">{{ item.title }}</span>
        </a>
    </li>
{% endfor %}
</ul>
